In [1]:
import math
import statistics
import numpy as np
import scipy.stats
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
# Problem 3.2

In [ ]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

In [ ]:
!cat Ch\ 3\ HW\ -\ SQC\ -\ 3.2\ \(1\).csv

In [ ]:
import pandas as pd
data1 = pd.read_csv('Ch 3 HW - SQC - 3.2 (1).csv', sep=';', na_values=".")
data1

In [ ]:
#example data set
x=[50.001,
50.002,
49.998,
50.006,
50.005,
49.996,
50.003,
50.004]
x

In [ ]:
# mean
mean =statistics.mean(x)
mean

In [ ]:
# Standard Deviation
std =statistics.stdev(x)
std

In [ ]:
# Problem 3.8

In [47]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving Ch 3 HW - SQC - 3.8.csv to Ch 3 HW - SQC - 3.8 (1).csv
User uploaded file "Ch 3 HW - SQC - 3.8.csv" with length 235 bytes

In [49]:
import pandas as pd
data2 = pd.read_csv('Ch 3 HW - SQC - 3.8 (1).csv')
data2

    Electronic Component Failure Time
0                                 127
1                                 125
2                                 131
3                                 124
4                                 129
5                                 121
6                                 142
7                                 151
8                                 160
9                                 125
10                                124
11                                123
12                                120
13                                119
14                                128
15                                133
16                                137
17                                124
18                                142
19                                123
20                                121
21                                136
22                                140
23                                137
24                                125
25                                124
26                                128
27                                129
28                                130
29                                122
30                                118
31                                131
32                                125
33                                133
34                                141
35                                125
36                                140
37                                131
38                                129
39                                126

In [ ]:
# Example data set 3.8
x2 = [127,125,131,124,129,121,142,151,160,125,124,123,120,119,128,133,137,124,142,123,121,136,140,137,125,124,128,129,130,122,118,131,125,133,141,125,140,131,129,126]
x2

In [51]:
#Sample Average
mean2 = statistics.mean(x2)
mean2

129.975

In [52]:
# Standard Deviation
std2 = statistics.stdev(x2)
std2

8.91408421745596

In [ ]:
# Histogram
values= [127,125,131,124,129,121,142,151,160,125,124,123,120,119,128,133,137,124,142,123,121,136,140,137,125,124,128,129,130,122,118,131,125,133,141,125,140,131,129,126]
plt.hist(values, bins=6, rwidth=.9, color='#607c8e')

plt.title('Time in Hours to Electrical Failure')
plt.xlabel('Hours')
plt.ylabel('Counts')
plt.grid(axis='y', alpha=0.75)

In [ ]:
# Stem and Leaf plot
values=[127,125,131,124,129,121,142,151,160,125,124,123,120,119,128,133,137,124,142,123,121,136,140,137,125,124,128,129,130,122,118,131,125,133,141,125,140,131,129,126]
!pip install stemgraphic
import stemgraphic as stem
stem.stem_kde(values)

In [88]:
#Descriptive Statistics
values=[127,125,131,124,129,121,142,151,160,125,124,123,120,119,128,133,137,124,142,123,121,136,140,137,125,124,128,129,130,122,118,131,125,133,141,125,140,131,129,126]
z=pd.Series(values)
result2 = z.describe()
result2

count     40.000000
mean     129.975000
std        8.914084
min      118.000000
25%      124.000000
50%      128.000000
75%      133.750000
max      160.000000
dtype: float64

In [91]:
#median
median = np.median(values)
median

128.0

In [102]:
#quartile
quartiles = np.quantile(values, [0.25, 0.75])
quartiles

array([124.  , 133.75])